/*Estilo de los Botones de index.html*/

.bot_index
{
	height: 40px;
	transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.bot_index:hover
{
	opacity: 0.8;
	-webkit-transform: scale(1.2) rotate(-3deg);
  	-moz-transform: scale(1.2) rotate(-3deg);
}

.botones
{
	height: 50px;
	transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.botones:hover
{
	opacity: 0.88;
	-webkit-transform: scale(1.2);
  	-moz-transform: scale(1.2);
}

.fondo
{
  background: url('../images/fondos/circular.jpg') no-repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}

.fondo1
{
  background: url('../images/fondos/water.jpg') no-repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}

.titulo
{
	width: 30%;
	height: 20%;
	margin-right: 60%;
}

#contenedor
{ 
    width: 50%;    
    border-radius: 3em;    
    font-size: 1.5em;
	font: bold 90% monospace;
    height:60%;   
    opacity: 0.8;
    margin-right: 60%;
}

#contenedor .label
{	
	font-size: 1.7em;
	color: white;
	text-align: center;
}

#formulario input, select
{
	background-color: #E8E8E8;
	border-radius: 1em;
	font-size: 1.6em;
	font: bold 90% monospace;
	color: #003366;
	width: 200px;
	height: 30px;
	text-align: center;
	opacity: 0.7;
	transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

#formulario input:hover
{
	opacity: 0.9;
	-webkit-transform: scale(1.1);
  	-moz-transform: scale(1.1);
	
}

.menus
{	
	border-radius: 1.5em;
	opacity: 0.8;
	transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.menus:hover
{
	opacity: 1;
	-webkit-transform: scale(1.1);
  	-moz-transform: scale(1.1);
}

.texto
{
	margin-left:35%; 
	color:#ffa;
	font-size: 1.6em;
	font: bold 90% monospace;
}
